<!DOCTYPE html>
<html>
  <head>
    <title>Add a pet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/pets" title="Back to pets list page">Back</a>
    <h1>Pets</h1>
    <main>
      <section>
        <header>
          <form method="POST" action="/pets">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter name..." />

            <label for="imgURL">Image URL</label>
            <input type="text" id="imgURL" name="imgURL" placeholder="Enter image url ...">
            <button type="submit">Add pet</button>
          </form>
        </header>
      </section>
    </main>
  </body>
</html>